/*	==========================
	Grid
	==========================	*/

$max-width: 65em;	// Maximum width of container
$col-total: 12;		// Total # of columns
$gutter: 1em;		// Gutter for each column

.row:before, 
.row:after {
	content:"";
	display: table ;
	clear:both;
}

[class*='col-'] {
    float: left;
    min-height: 1px;
    padding: $gutter;
    width: 100%; 
}   

// TODO - Refactor

@for $i from 1 through $col-total {
    .col-#{$i} { 
        width: 100% / $col-total * $i;
    }
}

@include break(md) {
   @for $i from 1 through $col-total {
        .col-#{$i}-md { 
            width: 100% / $col-total * $i;
        }
    } 
}
@include break(lg) {
   @for $i from 1 through $col-total {
        .col-#{$i}-lg { 
            width: 100% / $col-total * $i;
        }
    } 
}
@include break(xl) {
   @for $i from 1 through $col-total {
        .col-#{$i}-xl { 
            width: 100% / $col-total * $i;
        }
    } 
}